main {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        height: fit-content;
        width: 400px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.75rem;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input {
                padding-inline: 0.75rem;
                padding-block: 1rem;

                border: none;
                outline: none;
                border-radius: 0.75rem;
            }

            button {
                padding-inline: 0.75rem;
                padding-block: 1rem;
                color: whitesmoke;

                border: none;
                outline: none;
                border-radius: 0.75rem;
                background: rgba(209, 0, 24, 0.883);

                font-weight: 600;
                cursor: pointer;
            }

            .authToggle {
                color: rgba(255, 0, 30, 0.883);
                text-decoration: none;
            }
        }
    }
}